body {
  background-image: url("../img/curslegislatie2.png") ;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  display: flex;
  margin-right: 4%;
  margin-bottom: 20%;
 }

 .profile-info{
 	margin-left: 3%; 
  margin-top: 2%; 
  width: 30%;
 }

 .profile-picture img
 {
 	position: static;  
 	background-size: cover;
  background-position: center;
  height: 80%;
  width: 80%;
  border-style: groove;
	border-width:5px;
	border-radius: 50%;
 }

.profile-bar{
	background-color: transparent;
	height: auto;
  margin: auto;
}


.bar-field{
	border-style: groove;
	width: 80%;
	border-radius: 20%;
	background-color: rgb(32,32,32,0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	color: white;	
	word-wrap: break-word;
	 text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.text-side{
	margin-top:2%; 
	width: 70%;
	display: inline-flex;
	flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.title{
	 text-shadow:
    0px 0px 0 #000,
    0px 0px 0 #000,
    0px 0px 0 #000,
    0px 0px 0 #000; 
	margin-top: 2%;
	margin-bottom: 8%;
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 50px;
	color: white;
	text-align: center;
}


.text {
	position: center;
	text-align: justify-all;
	margin: auto;
	padding: 2% 5% 5% 5%;
	background-color: rgb(32,32,32,0.3);
 	font-family: Arial, Helvetica, sans-serif;	font-size: 20px;
	color: white;
}

.activity {
    display: block;
    padding-bottom: 5%;
    margin-top: 5%;
}


.step-title {
	 text-align: center;
	 color: white;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-top: 2%;
 	 font-family: Arial, Helvetica, sans-serif;	 font-size: 150%;
	 border-style: inset;
	 border-color: white;
	 background-color: rgb(32,32,32,0.2);
}

.orange{
  background-color: rgb(255, 153, 51, 0.3);
}


.category-title {
	text-align: center;
	 color: white;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-top: 2%;
   font-family: Arial, Helvetica, sans-serif;	 font-size: 100%;
	 border-style: inset;
	 border-color: white;
	 background-color: rgb(32,32,32,0.2);
}


.subtitle{
	 text-align: center;
	 color: white;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-top: 2%;
 	 font-family: Arial, Helvetica, sans-serif;	 
   font-size: 100%;
	 border-style: inset;
	 border-color: white;
}


.buttonEdit{
  display: inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.1em 0.1em 0.1em;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:300;
  font-size: 80%;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  word-wrap: break-word;
  background-color: #E58E37;
}

.buttonEdit:hover{
  border:0.16em solid #b8b894;
  background-color: #555;
}


.link{
	cursor: pointer;
	color:rgb(229, 142, 55);
}


.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E58E37;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.myBtn:hover {
  background-color: #555;
}


@media screen and (max-width: 600px) {
  body{
    display: block;
    text-align: center;
  }

   .profile-info{
    width: 90vw;
    height: auto;
    text-align: center;
    margin: auto;
   }

  .bar-field{
    width: 90vw;
    display: inline-block;
  }

   .text-side{
    width: 90vw;
    height: auto; 
    text-align: center;
    margin: auto;
    margin-top: 5%; 
   }

   .text{
    display: inline-block;
    width: 90vw;
    padding: 0;
   }

   .buttonEdit{
     height: auto;
    width: 90vw;
    margin: 4% auto; 
    display: block; 
    align-self: center;
   }
}



.buttons-container{
  display: grid;
  grid-gap: 10px;
  justify-content: end;
  position: absolute;
  top: 5%;
  right: 2%;
}

.btn{
  background-color: rgba(229, 142, 55, 0.8);
  border-radius: 50%;
  margin: auto;
  border-color: transparent;
  border-style: outset;
}

.btn:focus{
  outline: none;
}

.btn img{
  width: 3vw;
  height: auto;
}

.hide{
  display: none;
}

.pulse {
   --color: #ef6eae;
   --hover: #ef8f6e;
}

.pulse:hover, .pulse:focus {
   animation: pulse 1s;
   box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

 @keyframes pulse {
   0% {
     box-shadow: 0 0 0 0 var(--hover);
  }
}



@media screen and (max-width: 600px) {
 
  .buttons-container{
    width:40vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: static;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    padding-top: 5%;
  }

  .btn img{
    display: inline-flex;
    width: 7vw;
    height: auto;
  }
}


@media screen and (max-width: 900px) {
  .buttons-container{
    right:1%;
  }

  .myBtn{
    font-size: 10px;
  }

 }