*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html, body{
	width: 100%;
	height: 100%;
	
	justify-content: center;
	align-items: center;
	background: #222;
	
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position:relative;
  overflow: hidden;
  background-color: #eee;
  margin-left:20%;
   margin-right:20%;
}

.menu li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

.menu li a {
   font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing:2px;
  display: block;
  color: white;
  height: 50px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  line-height: 50px;
    color: #000;
}

.menu li a:hover {
  background-color: #A9A9A9;
}
.titlu h1{
  text-align: center;
  color: white;
  border-top:double #555;
  border-bottom:double #555;
}

/*
.date { color: #bbc3c8;
 background: #292929;
  display: inline-block;
   font-family: 'Georgia', serif;
    font-style: italic; 
    font-size: 18px; 
    line-height: 22px; 
    margin: 0 0 20px 18px;
     padding: 10px 12px 8px; 
     position: absolute;
      bottom: -36px;
 }


h1 { color: #fff;
 font-family: 'Lato', sans-serif;
  font-size: 46px;
  font-weight: 100;
   line-height: 50px;
    letter-spacing: 1px; 
    padding: 0 0 40px;
     border-bottom:double #555; }*/
  
h2 { color: #fff;
 font-family: 'Lato', sans-serif;
 font-size: 20px;
 font-weight: 50px;
 line-height: 30px;
 letter-spacing: 1px;
 padding: 0 0 30px;
 border-bottom:double #555;
 border-top:double #555;
 text-align: center;

  }

 h3{
 	text-align: right;
 	color: red;
 font-family: 'Lato', sans-serif;
 font-size: 20px;
 font-weight: 50px;
 line-height: 30px;
 letter-spacing: 1px;
 padding: 0 0 30px;
 }


 p { color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
   line-height: 26px;
  text-indent: 30px;
   margin: 0;
   text-align: justify;
    }

 .wrapper{
 display:block;
width: 1540px;
margin:px;
}

.sin-team{
	width: 45%;
	float: left;
	margin: 30px;
	box-shadow: 0 2px 20px rgba(0,0,0,0.8);
	padding: 20px;
	color: #eee;
	background: #262626;
	border-radius: 10px;
 }
 .sin-team img{
 	width: 300px;
 	height: 300px;
 	border-radius: 50%;
 	float: left;
 	margin: 35px 20px 30px 0;
 	border: 7px solid #fff;
 	shape-outside: circle();
 }

 .wrapper2{
 display:block;
width: 1540px;
margin:px;
}

.sin-team2{
	width: 45%;
	float: left;
	margin: 30px;
	box-shadow: 0 2px 20px rgba(0,0,0,0.8);
	padding: 20px;
	color: #eee;
	background: #262626;
	border-radius: 10px;
 }
 .sin-team2 img{
 	width: 300px;
 	height: 300px;
 	border-radius: 1%;
 	float: left;
 	margin: 35px 20px 30px 0;
 	border: 7px solid #fff;
 	shape-outside: inset();

 }
.stanga p{
	 color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
   line-height: 26px;
  text-indent: 30px;
   margin: 0;
   text-align:justify;
}