body{
    max-width: 1300px;
    margin: auto;

}


.holdingcontainer{
    max-width: 300%;
    margin: 1000px;
    display: flex;
    background: black;
    padding: 50px;
    box-sizing: border-box;
    flex-flow: wrap;
    justify-content: space-between;
    position: relative;

}
.container-indicator{
    display: inline-flex;
    justify-content: center;
    flex-flow: row;
    max-width: 80%;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 2% 2% 2% 2%;
}

.internalcontainerL{
    flex: 1;
    background: #ffb156;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 3px;
    max-width: 30%;


}

.internalcontainerL h1{
    max-width: 100%;
    align-self: center;
    border-style: groove;
    width: 100%;
    background-color: rgb(32,32,32,0.2);
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    text-align: center;
    color: white;
}

.internalcontainerL img{
    margin-left: 10px;
    max-width: 150px;
    align-items: center;
}
.holdingcontainer p{
    text-indent: 30px;
    text-align: justify;
    letter-spacing: 3px;
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
}
.descriere{
    text-indent: 30px;
    text-align: justify;
    letter-spacing: 3px;
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    margin: auto;
}
.buton-indicator{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;

}




@media screen and (max-width: 768px){
    .holdingcontainer{
        flex-direction: column-reverse;
    }
}