body {
    background-image: url("../img/fundal-secundar.png");
 font-family: Arial, Helvetica, sans-serif;
   background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.clear{
  clear: both;
}
.slide-toggle{
  display: none;
}
.slidemenu{
  font-family: arial, sans-serif;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  /* daaaaaaaaaaaaaaaa*/
}
.slidemenu label{
  width: 15%;
  text-align: center;
  display: block;
  float: left;
  color: white;
  opacity: 0.5;

}
.slidemenu label:hover{
  cursor: pointer;
  color: #E58E37;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}
.slidemenu label span a{
   color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
   text-decoration:none   
}
.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px white;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}
/*Bar Style*/

.slider{
  width: 90%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 30px;
  border-radius: 5px;
}

.slider .bar{
  width: 15%;
  height: 10px;
  background: #E58E37;
  border-radius: 10px;
}
/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}


.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 17%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 34%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 51%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 68%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 85%; }



.row {
    display: -ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap; /
flex-wrap: wrap;
}

.cuprins {
    -ms-flex: 15%; /* IE10 */
    flex: 15%;
    background-color: #f1f1f1;
    padding: 20px;
}
.cuprins a{
    text-align: right;
    color:black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

body{
    max-width: 1300px;
    margin: auto;

}


.box
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    background: #E58E37;
    margin-top: 3%;
    
 }

 .box:hover
 {
        box-shadow: 0 15px 30px rgba(0,0,0,.5);

 }
 .box .imgBx
 {
    width: 150px;
    flex: 0 0 150px;
 }

 .box .imgBx img
 {
    max-width: 100%;
 }

 .box .content
 {
    padding-left: 20px;
 }

 .box .content h2
 {
    margin: 0;
    padding-left: 0;
    font-size: large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

 }
.box .content p
{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
@media screen and (max-width: 1200px){
    .box{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    .box{
        width: 90%;
    }
}
@media screen and (max-width: 570px){
    .box{
        width: 90%;
        margin-top: 80px;
    }
}
@media screen and (max-width: 600px) {
  .slidemenu label{
    width: 40vw;
  }
  .slidemenu label.icon {
    float: right;
    display: block;
  }
  .slider {
    display: none;
  }
  .box{margin-top:40%;}
   body{
    margin-right: 0;  
  }
}