*
{
	margin: 0;
	padding: 0;
}


.hero
{
	height: 100vh;
	width: 100%;
	background-image: url("../img/sky3.jpg");
	background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}



@media screen and (max-width: 750px) {


	div.title{
 		font-size: 30px;
		}

	div.login-form{
		width: 200px;
		margin-top: 40px;
	}

	div.home{
    	width: 45px;
    	height: 45px;
    	right: 20px;
  	}

}


@media screen and (max-width: 1500px) {
	div.car-animation{
		position: fixed;
	}
}

.highway{
	background-position: center center;
	height: 200px;
	width: 5000%;
	display: block;
	background-image: url("../img/road2.png"); 
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 2s linear infinite;
}

@keyframes highway{
	100%{
		transform: translateX(-800px);
	}
}


.city{
	height: 400px;
	width: 500%;
	background-image: url("../img/city.png");
	position: absolute;
	bottom: 150px;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 20s linear infinite;
}

@keyframes city{
	100%{
		transform: translateX(-1400px);
	}
}


.car-animation{
	display: flex;
	justify-content: space-around;
	align-content:  flex-start;
}

.car{
	width: 300px;
	left: 40%;
	bottom: 100px;
	transform: translateX(-50%);
	position: fixed;
	z-index: 2;
}

.car img{
	width: 200%;
	animation: car 1s linear infinite;
}

@keyframes car{
	100%{
		transform: translateY(-1px);
	}

	50%{
		transform: translateY(1px);
	}
	0%{
		transform: translateY(-1px);
	}
}


.wheel{
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
	position: fixed;
	z-index: 2;
}

.wheel img{
	width: 72px;
	height: 72px;
	animation: wheel 1s linear infinite;
}

.back-wheel{
	left: -220%;
	position: fixed;
}

.front-wheel{
	left:200%;
	position: relative;
}


@keyframes wheel{
	100%{
		transform: rotate(360deg);
	}
}

.login-form
{
	width: 300px;
	padding: 20px;
	text-align: center;
	background: transparent;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 2;
}


.title{
	margin-top: 100px;
	font-family: 'Fredericka the Great', cursive;
	color: #fff;
	font-size: 50px;
}

.login-form input{
	display: block;
	width: 100%;
	padding: 0 16px;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}


.txtb{
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 6px;
}

.login-btn{
	margin-top: 60px;
	margin-bottom: 20px;
	background-image: url("../img/org2.jpg");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}

.login-btn:hover{
	transform: scale(0.9);
}

.login-form a{
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
	color: #000;
	font-family: "Permanent Marker", cursive;
}

.login-form a:hover{
	background: rgba(0,0,0, 0.3);
}

.home{
	background: url("../img/home.png") no-repeat;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    top: 20px;
    right: 20px;
    position: fixed;
    border-radius: 50%;
    z-index: 2;
}
