body
{
	background-color: #d7cac4;
  	background-image: url("../img/street2.png"),
                      url("../img/mountains.png");
  	background-size: cover;
  	background-attachment: fixed;
	animation: goLeft 20s linear infinite;
}



@keyframes goLeft {
  100% {
    background-position: 400vw 0px,
                         200vw 0px,
                         100vw 0px;
  }
}



.car{
	position: fixed;
  	right: 15%;
  	bottom: 2%;
  	height: 50%;
	animation: suspension 1s linear infinite;
	z-index: -1;
}


@keyframes moveRight{
	100%{
		 background-position: 500vw 0px;
	}
}


@keyframes suspension{
	100%{
		transform: translateY(-1px);
	}
	50%{
		transform: translateY(1px);
	}
	0%{
		transform: :translateY(-1px);
	}
}

.login-form
{
	width: 20%;
	overflow: hidden;
	text-align: center;
	background: transparent;
	margin: 10% auto; 
    display: block; 
    align-self: center;
    z-index: 100;
}


.title{
	font-family: 'Fredericka the Great', cursive;
	color: #1a001a;
	font-size: 50px;
}

.login-form input{
	display: block;
	width: 100%;
	padding: 0 16px;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    border: inset 2px #E58E37;
}

 .login-form input:focus{ outline: inset 2px #E58E37; }

.txtb{
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 6px;
}

.login-btn{
	margin-top: 60px;
	margin-bottom: 20px;
	background-image: url("../img/org2.jpg");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}

.login-btn:hover{
	transform: scale(0.9);
}

.login-form a{
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
	color: #000;
	font-family: "Permanent Marker", cursive;
}

.login-form a:hover{
	background: rgba(0,0,0, 0.3);
}


.buttons-container{
  display: grid;
  grid-gap: 10px;
  justify-content: end;
  position: absolute;
  top: 5%;
  right: 2%;
}

.btn{
  background-color: rgba(229, 142, 55, 0.8);
  border-radius: 50%;
  margin: auto;
  border-color: transparent;
  border-style: outset;
}

.btn:focus{
  outline: none;
}

.btn img{
  width: 3vw;
  height: auto;
}

.hide{
  display: none;
}

.pulse {
   --color: #ef6eae;
   --hover: #ef8f6e;
}

.pulse:hover, .pulse:focus {
   animation: pulse 1s;
   box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

 @keyframes pulse {
   0% {
     box-shadow: 0 0 0 0 var(--hover);
  }
}



@media screen and (max-width: 600px) {
 
  .btn img{
    display: inline-flex;
    width: 8vw;
    height: auto;
  }
}



@media screen and (max-width: 750px) {

	div.title{
 		font-size: 30px;
		}

	div.login-form{
		width: 20vw;
		margin-top: 40px;
	}
}




@media screen and (max-width: 900px) {
	div.login-form{
			width: 40vw;
		}
}



@media screen and (max-width: 560px) {
.car{
  		width: auto;
  		height: 30%;
  		right: 2%;
  	}
}