
body {
  background-image: url("img/p_bg.jpeg") ;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  display: flex;
  margin-right: 4%;
 }

 .profile-info{
 	margin-left: 2%; 
    margin-top: 2%; 
    width: 30%;
 }

 .profile-picture img
 {
 	position: static;  
 	background-size: cover;
    background-position: center;
    background-size: cover;   
    height: 80%;
    width: 80%;
    border-style: groove;
	border-width:5px;
	border-radius: 50%;
 }

.profile-bar{
	background-color: transparent;
	height: auto;
}


.bar-field{
	border-style: groove;
	width: 80%;
	border-radius: 20%;
	font-family: "Permanent Marker", cursive;
	font-size: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	color: white;	
}

.text-side{
	width: 70%;
	display: inline-flex;
	flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.title{
	margin-top: 2%;
	font-family:'Fredericka the Great', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
}


.text {
	position: static;
	text-align: justify-all;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgb(32,32,32,0.2);
	font-family: "Permanent Marker", cursive;
	font-size: 20px;
	color: white;
}

.activity {
        display: block;
        padding-bottom: : 5%;
}


.category{
    margin-top: 4%; 
	border-style: groove;
	width: 100%;
	background-color: rgb(32,32,32,0.2);
	font-family: "Permanent Marker", cursive;
	font-size: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	color: white;	
}

.yellow{
	background-color: rgb(255, 255, 26, 0.4);
}

.blue{
	background-color: rgb(0, 230, 230, 0.4);
}

.green{
	background-color: rgb(92, 214, 92, 0.4);
}

.green2{
	background-color: rgb(92, 214, 92, 0.8);
}

.purple{
	background-color: rgb(198, 83, 198, 0.4);
}

.blue2{
	background-color: rgb(0, 230, 230, 0.8);	
}

.box{
	border-style: groove;
	border-color: white;
	border-width: 2px;
	width: 100%;
	left: 2%;
	height: auto;
	font-family: "Permanent", cursive;
	color: white;
	font-size: 20px;
}

.progress{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 2%;
	width: 90%;
	height: auto;
	border-radius: 100px;
    background: rgb(56, 56, 56, 0.5);
}

.progress-value1{
    animation: load 3s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	background-color: rgb(92, 214, 92, 0.8);
	width: 0;
	height: 5%;
	border-radius: 100px;
	text-align: center;
	font-family: "Permanent", cursive;
	font: 20px;
}

.progress-value2{
    animation: loadload 3s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	background-color: rgb(255, 255, 26, 0.8);
	width: 0;
	height: 5%;
	border-radius: 100px;
	text-align: center;
	font-family: "Permanent", cursive;
	font: 20px;
}

.progress-value3{
    animation: alsoload 3s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	width: 0;
	height: 5%;
	border-radius: 100px;
	text-align: center;
	font-family: "Permanent", cursive;
	font: 20px;
}

@keyframes load {
    0% { width: 0; }
  100% { width: 75%; }
}

@keyframes loadload {
    0% { width: 0; }
  100% { width: 20%; }
}

@keyframes alsoload {
    0% { width: 0; }
  100% { width: 40%; }
}


.box2{
    display: inline-flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin-right: 10%;
	height: auto;
	font-family: "Permanent", cursive;
	color: white;
	font-size: 20px;
	
}

.survey{
    border-style: inset;
	border-color: white;
	border-width: 1.5px;
	margin-left: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: "Permanent", cursive;
	color: white;
	font-size: 20px;
	width: 30%;
}

.survey-head{
	text-align: center;
	border-bottom: solid;
	border-width: 1px;
	border-color: white;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	background-image: url("img/survey.jpg");
	background-position: center;
    background-size: center;
	font-size: 17px;
}

.survey-body{
   padding-top: 20%;
   padding-bottom: 20%;
   background-image: url("img/silver.jpg");
   text-align: center;
   color: #43233c;
   text-shadow: 2px 2px white;
}

.survey-score{
	position: relative;
	left: 10%;
	margin-bottom: 10%; 
	padding-bottom: 10%;
	padding-top: 10%;
	padding-left : 5%;
	padding-right: 3%;
	background-image: url("img/survey.jpg");
	background-position: center;
    background-size: center;
	width: 70%;
	height: 70%;
	border-style: inset;
	border-radius: 50%;
	border-color: white;
	text-align: center;
	text-shadow: 2px 2px #43233c;
	color: white;
}


.hover-admis:hover {
    color: green;
}


.hover-respins:hover {
    color: red;
}