
body {
  background-image: url("img/p_bg.jpeg") ;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  display: flex;
  margin-right: 4%;
  margin-bottom: 20%;
 }

 .profile-info{
 	margin-left: 2%; 
    margin-top: 2%; 
    width: 30%;
 }

 .profile-picture img
 {
 	position: static;  
 	background-size: cover;
    background-position: center;
    background-size: cover;   
    height: 80%;
    width: 80%;
    border-style: groove;
	border-width:5px;
	border-radius: 50%;
 }

.profile-bar{
	background-color: transparent;
	height: auto;
}


.bar-field{
	border-style: groove;
	width: 80%;
	border-radius: 20%;
	font-family: "Permanent Marker", cursive;
	font-size: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	color: white;	
	word-wrap: break-word;
}

.text-side{
	width: 70%;
	display: inline-flex;
	flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.title{
	margin-top: 2%;
	margin-bottom: 8%;
	font-family:'Fredericka the Great', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
}


.text {
	position: center;
	text-align: justify-all;
	margin: auto;
	padding: 2% 5% 5% 5%;
	background-color: rgb(32,32,32,0.2);
	font-family: "Permanent Marker", cursive;
	font-size: 20px;
	color: white;
}

.activity {
        display: block;
        padding-bottom: : 5%;
        margin-top: 5%;
}


.step-title {
	 text-align: center;
	 color: white;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-top: 2%;
	 font-family: "Permanent Marker", cursive;
	 font-size: 150%;
	 border-style: inset;
	 border-color: white;
	 background-color: rgb(32,32,32,0.2);
}


.category-title {
	text-align: center;
	 color: white;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-top: 2%;
	 font-family: "Permanent Marker", cursive;
	 font-size: 100%;
	 border-style: inset;
	 border-color: white;
	 background-color: rgb(32,32,32,0.2);
}


.surveys-box {
	max-width: 80%; 
    width: 100%;
    display: inline-flex;
    justify-content: center;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
	height: auto;
	font-family: "Permanent", cursive;
	color: white;
	font-size: 20px;

}


.survey{
	margin: 5% 0% 4% 5%;
	font-family: "Permanent", cursive;
	color: white;
	font-size: 20px;
	max-width: 50%;
	width: 30%;
}

.survey-head{
	text-align: center;
	border-bottom: solid;
	border-width: 1px;
	border-color: white;
	background-color: rgb(255, 255, 26, 0.6);
	font-size: 100%;
	font-weight: bold;
	color: white;
}

.survey-body{
   width: auto;
   height: auto;
   background-image: url("img/orange.jpg");
   padding-top: 5%;
   padding-bottom: 5%;
   background-position: center;
   text-align: center;
   color: #43233c;
}


  .hide {
  	display: none;
  }


  .admis:hover{
  	color: #009900;
  }

  .respins:hover{
  	color: red;
  }


.subtitle{
	 text-align: center;
	 color: white;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-top: 2%;
	 font-family: "Permanent Marker", cursive;
	 font-size: 100%;
	 border-style: inset;
	 border-color: white;
	 background-color: rgb(32,32,32,0.2);

}

  .purple{
	background-color: rgb(198, 83, 198, 0.4);
}

.yellow{
	background-color: rgb(255, 255, 26, 0.4);
}


.green{
	background-color: rgb(92, 214, 92, 0.4);
}


.blue{
	background-color: rgb(0, 230, 230, 0.4);
}