html { 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;  
    overflow: right;
}


body {
  background-image: url("img/sgn2.jpg");
  height: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-repeat: no-repeat;
 }


@media screen and (min-width: 750px) {
	div.signup-form{
		width: 300px;
		}
}

@media screen and (max-width: 750px) {

	div.title{
 		font-size: 30px;
		}

	div.signup-form{
		width: 200px;
		margin-top: 40px;
	}

	div.home{
    	width: 45px;
    	height: 45px;
    	right: 20px;
  	}
}

.title{
	font-family: "Source Sans", sans-serif;
	color: #000;
	font-size: 50px;
	margin: 0 auto;
}

.signup-form
{
	padding: 20px;
	text-align: center;
	background: transparent;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	top: 55%;
	position: absolute;
}

.signup-form input{
	display: block;
	width: 100%;
	padding: 0 16px;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}

.txtb{
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 6px;
}

.signup-btn{
	margin-top: 60px;
	margin-bottom: 20px;
	background-image: url("img/org2.jpg");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}

.signup-btn:hover{
	transform: scale(0.9);
}

.signup-form a{
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
	color: #000;
	font-family: "Permanent Marker", cursive;
}

.signup-form a:hover{
	background: rgba(0,0,0, 0.3);
}

.home{
	display: flex;
	background: url("img/home.png") no-repeat;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    top: 40px;
    right: 80px;
    position: absolute;  
    border-radius: 50%;
}

