body {
    max-width: 21cm;
    margin: auto;
    line-height: 1.6;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}

h1, h2 {
    color:#4b0061;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .0375em;
}

header>h1 {
    margin: 0;
    font-size: 3em;
    padding-top: 4em;
}


a {
    background-color: transparent;
    list-style: none;
}
.box{
    position: relative;
  font-family: Arial;
}
.text{position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  color: white;
  padding-left: 20px;
  padding-right: 20px;}

.mobile-image {
    width: 30%;
}

.desktop-image {
    width: 70%;
}
li{
    list-style-type: none;
}